Repository mateoolarte/miconomy: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write, yarn test

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": "eslint",
  "*.{js,jsx,ts,tsx,json,md,mdx}": "prettier --write",
  "*.{test,spec}.{ts,tsx,js,jsx}": "yarn test"
}

update libs 30/05/2022
  package.json
  yarn.lock
Due: prettier --write

add private property package.json
  package.json
Due: prettier --write

update dependencies 07/04/2023
  package.json
  pnpm-lock.yaml
Due: prettier --write

update dependencies 19/05/2023
  .editorconfig
  .gitignore
  README.md
  next.config.js
  package.json
  pnpm-lock.yaml
  tsconfig.json
Due: eslint, prettier --write

migrate Login page to nextjs 13
  app/layout.tsx
  app/login/page.tsx
  containers/Login/Login.tsx
  libs/apollo/ApolloWrapper.js
  next-env.d.ts
  next.config.js
  package.json
  pages/_app.tsx
  pages/login.tsx
  pnpm-lock.yaml
Due: eslint, prettier --write

migrate login & signup pages to nextjs 13 and chakra ui
  app/layout.tsx
  app/signup/page.tsx
  constants/index.ts
  containers/Home/Home.tsx
  containers/Login/Login.styles.ts
  containers/Login/Login.tsx
  containers/Signup/Signup.tsx
  graphql/api/Auth/resolvers/login.ts
  graphql/api/Auth/resolvers/signup.ts
  libs/chakra-ui/providers.tsx
  next.config.js
  package.json
  pages/index.tsx
  pages/signup.tsx
  pnpm-lock.yaml
  tsconfig.json
  ui/Anchor/Anchor.tsx
  ui/Button/Button.tsx
  ui/Input/Input.styles.ts
  ui/Input/Input.tsx
  ui/Toast/Toast.tsx
  ui/Toast/index.ts
  utils/checkAuth.ts
Due: eslint, prettier --write

add postinstall to fix prisma client generation
  package.json
Due: prettier --write

migrate home to nextjs 13
  app/layout.tsx
  app/not-found.tsx
  app/page.tsx
  constants/index.ts
  containers/Home/Actions.tsx
  containers/Home/Balance.tsx
  containers/Home/Content.tsx
  containers/Home/EmptyState.tsx
  containers/Home/Explore.tsx
  containers/Home/Home.styles.ts
  containers/Home/Home.tsx
  containers/Home/data.ts
  libs/apollo/ApolloProvider.tsx
  libs/apollo/ApolloWrapper.js
  libs/chakra-ui/UIProvider.tsx
  next.config.js
  package.json
  pages/budgets/[id].tsx
  pages/budgets/index.tsx
  pages/categories.tsx
  pages/entry/categories/[id].tsx
  pages/entry/index.tsx
  pages/savings.tsx
  pnpm-lock.yaml
  ui/Button/Button.tsx
  utils/checkAuth.ts
Due: eslint, prettier --write

go back to pages router nextjs for compatibility issues with api routes
  .gitignore
  app/layout.tsx
  constants/index.ts
  containers/Home/Actions.tsx
  containers/Home/Home.tsx
  containers/Login/Login.tsx
  containers/Signup/Signup.tsx
  libs/apollo/ApolloProvider.tsx
  libs/apollo/createApolloClient.ts
  libs/apollo/httpLink.ts
  libs/apollo/index.ts
  libs/apollo/initializeApollo.ts
  libs/apollo/useApollo.ts
  next-env.d.ts
  package.json
  pages/404.tsx
  pages/_app.tsx
  pages/index.tsx
  pages/login.tsx
  pages/signup.tsx
  pnpm-lock.yaml
  ui/Header/Header.styles.ts
  ui/Header/Header.tsx
  ui/Layout/Layout.styles.ts
  ui/Layout/Layout.tsx
Due: eslint, prettier --write

remove unused folders
  components/.gitkeep
  hooks/.gitkeep
  libs/chakra-ui/UIProvider.tsx
Due: eslint, prettier --write

migrate antd to chakra-ui lib
  containers/Budget/CategoriesBudget.tsx
  containers/Budget/CategoryBudget.tsx
  containers/Budget/SavingBudget.tsx
  containers/Budget/SavingsBudget.tsx
  containers/Budgets/Budgets.tsx
  containers/Categories/Categories.tsx
  containers/EntryCategory/EntryCategory.tsx
  containers/Home/Balance.tsx
  containers/Savings/Savings.tsx
  package.json
  pnpm-lock.yaml
  ui/Alert/Alert.tsx
  ui/Alert/index.ts
  ui/Breadcrumb/Breadcrumb.tsx
  ui/Button/Button.tsx
  ui/Modal/Modal.tsx
  ui/Nav/Nav.tsx
  ui/Select/Select.styles.ts
  ui/Select/Select.tsx
  ui/Tabs/Tabs.tsx
Due: eslint, prettier --write

fix icon imports
  .vscode/launch.json
  components/EntryCategory/EntryCategory.tsx
Due: eslint, prettier --write

refactor Budgets view, add Error component and supports ref in Input component
  components/Budgets/AddBtn.tsx
  components/Budgets/Budgets.styles.ts
  components/Budgets/Budgets.tsx
  components/Budgets/Form.tsx
  components/Budgets/List.tsx
  pages/budgets/index.tsx
  types/index.ts
  ui/Alert/Alert.tsx
  ui/Button/Button.tsx
  ui/Error/Error.tsx
  ui/Error/index.ts
  ui/Input/Input.tsx
Due: eslint, prettier --write

handle error message to match the unique budget name
  components/Budgets/Budgets.tsx
  components/Budgets/Form.tsx
Due: eslint, prettier --write

update dependencies 19/07/2023
  package.json
  pnpm-lock.yaml
Due: prettier --write

update dependencies 27/07/2023
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix bugs in Budget, Categories and Expenses views
  components/Budget/Budget.tsx
  components/Budget/CategoriesBudget.styles.ts
  components/Budget/CategoriesBudget.tsx
  components/Budget/SavingsBudget.tsx
  components/Budgets/Budgets.tsx
  components/Categories/Categories.styles.ts
  components/Categories/Categories.tsx
  components/Home/Actions.tsx
  components/Home/Home.tsx
  pages/budgets/[id].tsx
  types/index.ts
  ui/Button/Button.tsx
  ui/Button/ButtonDotted.tsx
  ui/Button/index.ts
  ui/Nav/Nav.tsx
Due: eslint, prettier --write

remove vscode launch
  .vscode/launch.json
Due: prettier --write

organize some components in Home view and add format number lib
  components/Home/Actions.tsx
  components/Home/Balance.tsx
  components/Home/BalanceItem.tsx
  components/Home/Content.tsx
  components/Home/Explore.tsx
  components/Home/ExploreItem.tsx
  components/Home/Home.styles.ts
  components/Home/data.ts
  components/Home/types.ts
  package.json
  pnpm-lock.yaml
  types/index.ts
  utils/checkAuth.ts
Due: eslint, prettier --write

update styles in navigation bar
  components/Home/Explore.tsx
  ui/Nav/Nav.styles.ts
  ui/Nav/Nav.tsx
Due: eslint, prettier --write

update dependencies, go back to yarn and update jest config
  .prettierignore
  README.md
  jest.config.mjs
  jest.setup.js
  package.json
  pnpm-lock.yaml
  ui/Button/__tests__/__snapshots__/Button.test.tsx.snap
  yarn.lock
Due: eslint, prettier --write

test github action setup
  .github/workflows/github-actions-demo.yml
  ui/icons/Delete.tsx
Due: eslint, prettier --write

Create codeql.yml
  .github/workflows/codeql.yml
Due: none

Create super-linter.yml
  .github/workflows/super-linter.yml
Due: none

update repository reference
  .github/workflows/super-linter.yml
Due: none

fix reference version
  .github/workflows/super-linter.yml
Due: none

test github actions pipeline
  components/Login/Login.tsx
Due: eslint, prettier --write

test vercel preview pipeline
  components/Login/Login.tsx
Due: eslint, prettier --write
