Repository mateoolarte/miconomy: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write, stylelint --syntax=css-in-js, yarn test

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": "eslint --cache --fix",
  "*.{js,jsx,json,ts,tsx,md,mdx,yml,yaml}": "prettier --write",
  "*.{ts, tsx}": "stylelint --syntax=css-in-js",
  "*.test.{ts, tsx}": "yarn test"
}

add fonts
  pages/_app.tsx
  styles/typography.css
  tailwind.config.js
Due: eslint --cache --fix, prettier --write

add initial structure header and navigation components
  components/MonthlyView/index.tsx
  components/shared/.gitkeep
  components/shared/Header/index.tsx
  components/shared/Layout/index.tsx
  components/shared/Layout/interfaces.ts
  components/shared/Navigation/data.ts
  components/shared/Navigation/index.tsx
  pages/mes-actual.tsx
  tailwind.config.js
Due: eslint --cache --fix, prettier --write, stylelint --syntax=css-in-js

change url name to english
  components/Login/index.tsx
  components/Signup/index.tsx
  pages/current-month.tsx
  pages/login.tsx
  pages/signup.tsx
  utils/checkAuth.ts
Due: eslint --cache --fix, prettier --write, stylelint --syntax=css-in-js

update urls on navigation
  components/shared/Navigation/data.ts
Due: eslint --cache --fix, prettier --write, stylelint --syntax=css-in-js

add initial documentation for Input
  components/ui/Alert/Alert.stories.tsx
  components/ui/Input/Input.stories.tsx
  components/ui/Input/index.tsx
Due: eslint --cache --fix, prettier --write

finish navigation mobile component
  components/shared/Header/index.tsx
  components/shared/Navigation/data.ts
  components/shared/Navigation/index.tsx
  components/ui/icons/Calendar.tsx
  components/ui/icons/Clipboard.tsx
  components/ui/icons/Grid.tsx
  components/ui/icons/Money.tsx
  components/ui/icons/UserCircle.tsx
  tailwind.config.js
Due: eslint --cache --fix, prettier --write, stylelint --syntax=css-in-js

add overview section monthly view
  components/MonthlyView/OverviewDesktop.tsx
  components/MonthlyView/OverviewMobile.tsx
  components/MonthlyView/index.tsx
  components/shared/Header/index.tsx
  components/shared/Navigation/index.tsx
Due: eslint --cache --fix, prettier --write

add Modal component
  components/MonthlyView/index.tsx
  components/ui/Input/index.tsx
  components/ui/Modal/index.tsx
  components/ui/Modal/interfaces.ts
Due: eslint --cache --fix, prettier --write, stylelint --syntax=css-in-js

add useWindowSize hook
  components/MonthlyView/index.tsx
  hooks/.gitkeep
  hooks/useWindowSize.ts
  utils/constants.ts
Due: eslint --cache --fix, prettier --write, stylelint --syntax=css-in-js

update dependecies 24/02/2021
  package.json
  yarn.lock
Due: prettier --write

add initial structure and styles for categories monthly view
  components/CategoryCard/index.tsx
  components/CategoryCard/styled.js
  components/MonthlyView/Categories.tsx
  components/MonthlyView/OverviewDesktop.tsx
  components/MonthlyView/OverviewMobile.tsx
  components/MonthlyView/index.tsx
  components/ui/Anchor/index.tsx
  components/ui/Anchor/interfaces.ts
  components/ui/ProgressBar/index.tsx
  components/ui/ProgressBar/interfaces.ts
  package.json
  yarn.lock
Due: eslint --cache --fix, prettier --write, stylelint --syntax=css-in-js

finish categories layout
  components/CategoryCard/index.tsx
  components/CategoryCard/styled.js
  components/MonthlyView/Categories.tsx
  components/ui/ProgressBar/index.tsx
  components/ui/ProgressBar/interfaces.ts
Due: eslint --cache --fix, prettier --write, stylelint --syntax=css-in-js

Add layout button actions monthly view
  components/MonthlyView/Actions.tsx
  components/MonthlyView/index.tsx
  components/shared/Layout/index.tsx
  components/shared/Navigation/index.tsx
  components/ui/icons/Plus.tsx
Due: eslint --cache --fix, prettier --write

add income and category modals on monthly view
  components/MonthlyView/Actions.tsx
  components/MonthlyView/CategoryModal.tsx
  components/MonthlyView/IncomeModal.tsx
  components/ui/Button/index.tsx
  components/ui/Button/interfaces.ts
  components/ui/Input/interfaces.ts
  components/ui/Modal/index.tsx
  components/ui/Select/index.tsx
  components/ui/Select/interfaces.ts
  components/ui/Textarea/index.tsx
  components/ui/Textarea/interfaces.ts
Due: eslint --cache --fix, prettier --write, stylelint --syntax=css-in-js

add expense modal on monthly view
  components/MonthlyView/Actions.tsx
  components/MonthlyView/CategoryModal.tsx
  components/MonthlyView/ExpenseModal.tsx
  package.json
  yarn.lock
Due: eslint --cache --fix, prettier --write

Add account view and functionality
  components/Account/index.tsx
  components/ui/icons/Logout.tsx
  graphql/mutations/changePassword.ts
  graphql/mutations/deleteUser.ts
  graphql/queries/user.ts
  pages/account.tsx
Due: eslint --cache --fix, prettier --write, stylelint --syntax=css-in-js

Add cookie funtion
  components/Account/index.tsx
  utils/cookies.ts
Due: eslint --cache --fix, prettier --write, stylelint --syntax=css-in-js

Add Dashboard layout for desktop and tablet screens
  components/Dashboard/MonthChart.tsx
  components/Dashboard/data.ts
  components/Dashboard/index.tsx
  components/Dashboard/styled.js
  components/Feature/index.tsx
  components/Feature/interfaces.ts
  components/shared/Layout/index.tsx
  components/shared/Layout/interfaces.ts
  components/ui/ListRow/index.tsx
  components/ui/ListRow/interfaces.ts
  components/ui/icons/Avatar.tsx
  components/ui/icons/Budget.tsx
  components/ui/icons/Categories.tsx
  components/ui/icons/IncomeHistory.tsx
  components/ui/icons/Metrics.tsx
  components/ui/icons/MonthHistory.tsx
  components/ui/icons/Savings.tsx
  package.json
  pages/index.tsx
Due: eslint --cache --fix, prettier --write, stylelint --syntax=css-in-js

add empty view on monthly view
  components/MonthlyView/EmptyView.tsx
  components/MonthlyView/index.tsx
  yarn.lock
Due: eslint --cache --fix, prettier --write

update dependencies 30/04/2021
  package.json
  yarn.lock
Due: prettier --write

integrate OverviewMonth and UserMonth categories queries on MonthlyView
  components/CategoryCard/index.tsx
  components/MonthlyView/Categories.tsx
  components/MonthlyView/Overview.tsx
  components/MonthlyView/OverviewDesktop.tsx
  components/MonthlyView/OverviewMobile.tsx
  components/MonthlyView/graphql/getUserMonth.ts
  components/MonthlyView/hooks/useGetMonthDates.ts
  components/MonthlyView/hooks/useGetUserMonth.ts
  components/MonthlyView/hooks/useOverviewMonth.ts
  components/MonthlyView/index.tsx
  graphql/queries/overviewMonth.ts
  graphql/queries/user.ts
  lib/apollo/index.ts
  next.config.js
  package.json
  pages/current-month.tsx
  utils/checkAuth.ts
  utils/checkEnv.ts
  utils/cleanGraphqlObj.ts
  yarn.lock
Due: eslint --cache --fix, prettier --write, stylelint --syntax=css-in-js

finish integration of queries and mutation MonthlyView
  README.md
  components/MonthlyView/Actions.tsx
  components/MonthlyView/Categories.tsx
  components/MonthlyView/CategoryModal.tsx
  components/MonthlyView/ExpenseModal.tsx
  components/MonthlyView/IncomeModal.tsx
  components/MonthlyView/SavingCard.tsx
  components/MonthlyView/graphql/addExpense.ts
  components/MonthlyView/graphql/addIncome.ts
  components/MonthlyView/graphql/addUserMonthCategory.ts
  components/MonthlyView/graphql/getUserMonthCategories.ts
  components/MonthlyView/hooks/useGetUserMonth.ts
  components/MonthlyView/hooks/useGetUserMonthCategories.ts
  components/MonthlyView/index.tsx
  components/ui/Anchor/interfaces.ts
  components/ui/Select/index.tsx
  components/ui/Select/interfaces.ts
  components/ui/Textarea/index.tsx
  graphql/mutations/addCategory.ts
  graphql/queries/getUserCategories.ts
  hooks/useGetUserCategories.ts
  jest.config.js
  next-env.d.ts
Due: eslint --cache --fix, prettier --write, stylelint --syntax=css-in-js

fix typescript prop
  components/Feature/index.tsx
  components/Feature/interfaces.ts
Due: eslint --cache --fix, prettier --write, stylelint --syntax=css-in-js

update how we get userMonth
  components/MonthlyView/graphql/getUserMonth.ts
  components/MonthlyView/hooks/useGetMonthDates.ts
  components/MonthlyView/hooks/useGetUserMonth.ts
  components/MonthlyView/index.tsx
Due: eslint --cache --fix, prettier --write, stylelint --syntax=css-in-js

add env-example
  env-example
Due: none

update gitignore
  .gitignore
Due: none

remove legacy file
  .huskyrc
Due: none

update ui components file structure
  components/CategoryCard/CategoryCard.tsx
  components/Signup/Signup.tsx
  components/shared/Header/Header.tsx
  components/shared/Header/index.ts
  components/shared/Layout/Layout.tsx
  components/shared/Layout/index.ts
  components/shared/Layout/interfaces.ts
  components/shared/Navigation/Navigation.tsx
  components/shared/Navigation/index.ts
  components/ui/Button/Button.tsx
  components/ui/Button/index.ts
  components/ui/Button/interfaces.ts
  components/ui/Input/Input.tsx
  components/ui/Input/index.ts
  components/ui/Input/interfaces.ts
  components/ui/ListRow/ListRow.tsx
  components/ui/ListRow/index.ts
  components/ui/ListRow/interfaces.ts
  components/ui/Modal/Modal.tsx
  components/ui/Modal/index.ts
  components/ui/Modal/interfaces.ts
  components/ui/ProgressBar/ProgressBar.tsx
  components/ui/ProgressBar/index.ts
  components/ui/ProgressBar/interfaces.ts
  components/ui/Select/Select.tsx
  components/ui/Select/index.ts
  components/ui/Select/interfaces.ts
  components/ui/Textarea/Textarea.tsx
  components/ui/Textarea/index.ts
  components/ui/Textarea/interfaces.ts
  containers/Account/Account.tsx
  containers/Dashboard/Dashboard.tsx
  containers/Login/Login.tsx
  containers/MonthlyView/Actions.tsx
  containers/MonthlyView/CategoryModal.tsx
  containers/MonthlyView/EmptyView.tsx
  containers/MonthlyView/ExpenseModal.tsx
  containers/MonthlyView/IncomeModal.tsx
  containers/MonthlyView/MonthlyView.tsx
  containers/MonthlyView/SavingCard.tsx
Due: eslint --cache --fix, prettier --write, stylelint --syntax=css-in-js

add support to vscode debugger
  .vscode/launch.json
  package.json
Due: prettier --write

update libs folder name
  src/libs/apollo/index.ts
  src/pages/_app.tsx
Due: eslint --cache --fix, prettier --write, stylelint --syntax=css-in-js

remove tailwind lib
  README.md
  package.json
  postcss.config.js
  src/containers/Dashboard/index.ts
  src/libs/apollo/index.ts
  src/pages/_app.tsx
  src/styles/globals.css
  src/styles/typography.css
  tailwind.config.js
  yarn.lock
Due: eslint --cache --fix, prettier --write, stylelint --syntax=css-in-js

configure jest and cypress suite test tools
  .gitignore
  .lintstagedrc
  cypress/fixtures/example.json
  cypress/fixtures/profile.json
  cypress/fixtures/users.json
  cypress/integration/index.spec.js
  cypress/plugins/index.js
  cypress/support/commands.js
  cypress/support/index.js
  jest.config.js
  jest.setup.js
  package.json
  src/components/ui/Button/Button.tsx
  src/components/ui/Button/__tests__/Button.test.tsx
  src/components/ui/Button/__tests__/__snapshots__/Button.test.tsx.snap
  src/cypress/integration/login/login.spec.js
  src/libs/apollo/index.ts
  yarn.lock
Due: eslint --cache --fix, prettier --write, stylelint --syntax=css-in-js

update libs and readme commands
  README.md
  package.json
  yarn.lock
Due: prettier --write

update markup removing tailwind classes and api response
  src/components/ui/Alert/Alert.tsx
  src/components/ui/Anchor/Anchor.tsx
  src/components/ui/Button/Button.tsx
  src/components/ui/Input/Input.tsx
  src/containers/Login/Login.tsx
  src/containers/Login/graphql/login.mutation.ts
  src/containers/Signup/Signup.tsx
  src/containers/Signup/graphql/signup.mutation.ts
  src/containers/Signup/index.ts
  src/pages/signup.tsx
Due: eslint --cache --fix, prettier --write, stylelint --syntax=css-in-js

add integration test on auth
  cypress.json
  cypress/fixtures/example.json
  cypress/fixtures/profile.json
  cypress/fixtures/users.json
  cypress/integration/index.spec.js
  cypress/integration/login.spec.js
  cypress/integration/signup.spec.js
  src/components/ui/Input/Input.tsx
Due: eslint --cache --fix, prettier --write

fix build and update libs
  cypress/integration/login.spec.js
  next-env.d.ts
  package.json
  src/components/CategoryCard/CategoryCard.tsx
  src/containers/Account/Account.tsx
  src/containers/Dashboard/Dashboard.tsx
  src/containers/Dashboard/MonthChart.tsx
  src/containers/MonthlyView/Actions.tsx
  src/containers/MonthlyView/CategoryModal.tsx
  src/containers/MonthlyView/EmptyView.tsx
  src/containers/MonthlyView/ExpenseModal.tsx
  src/containers/MonthlyView/IncomeModal.tsx
  src/containers/MonthlyView/SavingCard.tsx
  yarn.lock
Due: eslint --cache --fix, prettier --write, stylelint --syntax=css-in-js
