Repository mateoolarte/miconomy: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write, stylelint --syntax=scss

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": "eslint --cache --fix",
  "*.{js,jsx,json,ts,tsx,md,mdx,yml,yaml,scss}": "prettier --write",
  "*.scss": "stylelint --syntax=scss"
}

update libs and package.json properties
  .gitignore
  package.json
Due: prettier --write

remove styles folder
  styles/Home.module.css
  styles/globals.css
  yarn.lock
Due: none

add css-in-js stylelint suppor
  .lintstagedrc
  .stylelintrc
  package.json
  yarn.lock
Due: prettier --write

Configure apollo, GraphQL, jest and testing library
  .eslintrc.js
  .gitignore
  .graphql-let.yml
  jest.config.js
  next-env.d.ts
  next.config.js
  package.json
  pages/_app.js
  pages/_app.tsx
  pages/index.tsx
  test/intex.test.tsx
  yarn.lock
Due: eslint --cache --fix, prettier --write

Add Apollo and GraphQL lib folder and update eslint parser for typescript support
  .eslintignore
  .eslintrc.js
  lib/apollo.ts
  lib/partial.graphql
  lib/resolvers.ts
  lib/schema.ts
  lib/type-defs.graphqls
  lib/user.graphqls
  lib/viewer.graphql
  package.json
Due: eslint --cache --fix, prettier --write

update libs, configure package.json and tsconfig.json files
  README.md
  package.json
  test/index.test.tsx
  tsconfig.json
  yarn.lock
Due: eslint --cache --fix, prettier --write

remove engine property from package.json
  package.json
Due: prettier --write

add apollo client to readme file
  README.md
Due: prettier --write

update color and text
  pages/index.tsx
Due: eslint --cache --fix, prettier --write

add initial documentation on readme
  README.md
Due: prettier --write

add badge status from codeship
  README.md
Due: prettier --write

update branch from badge codeship
  README.md
Due: prettier --write

fix test and create test:watch script
  package.json
  test/index.test.tsx
Due: eslint --cache --fix, prettier --write

update config file
  README.md
  babel.config.json
Due: prettier --write

add tailwind and update dependencies
  package.json
  pages/_app.tsx
  pages/index.tsx
  postcss.config.js
  tailwind.config.js
  tsconfig.json
  yarn.lock
Due: eslint --cache --fix, prettier --write

fix dummy test
  .lintstagedrc
  public/vercel.svg
  test/index.test.tsx
Due: eslint --cache --fix, prettier --write

add initial folder structure
  components/shared/.gitkeep
  components/ui/.gitkeep
Due: none

add update dependencies and add package-lock.json to .gitignore
  .gitignore
  package.json
  yarn.lock
Due: prettier --write

add layout login page
  .eslintrc.js
  components/Login/index.tsx
  components/Login/styled.js
  components/ui/.gitkeep
  components/ui/Anchor/index.tsx
  components/ui/Anchor/interfaces.ts
  components/ui/Input/index.tsx
  components/ui/Input/interfaces.ts
  components/ui/icons/EyeClose.tsx
  components/ui/icons/EyeOpen.tsx
  components/ui/icons/interfaces.ts
  package.json
  pages/ingresar.tsx
  tailwind.config.js
  utils/validateEmail.ts
  yarn.lock
Due: eslint --cache --fix, prettier --write

remove ChangeEvent types to any
  components/ui/Input/interfaces.ts
Due: eslint --cache --fix, prettier --write

add signup layout
  components/Login/styled.js
  components/Signup/index.tsx
  components/ui/Alert/index.tsx
  components/ui/Alert/interfaces.ts
  components/ui/icons/Delete.tsx
  pages/registro.tsx
Due: eslint --cache --fix, prettier --write

add root hooks folder
  hooks/.gitkeep
Due: none

update config and documentation files to work similar to backend repo
  .eslintignore
  .eslintrc.js
  .gitignore
  .lintstagedrc
  .prettierignore
  README.md
  constants.js
  lib/apollo.ts
  package.json
  yarn.lock
Due: eslint --cache --fix, prettier --write

Integrate Cypress
  cypress.json
  cypress/.eslintrc.json
  cypress/integration/login/login.spec.js
  cypress/plugins/index.js
  cypress/support/commands.js
  cypress/support/index.js
  package.json
  pages/index.tsx
Due: eslint --cache --fix, prettier --write

update apollo config, add login mutation and create global auth flow
  .graphql-let.yml
  components/Login/graphql/login.ts
  components/Login/index.tsx
  components/ui/Alert/index.tsx
  components/ui/Alert/interfaces.ts
  jest.config.js
  lib/apollo.ts
  lib/apollo/index.ts
  lib/partial.graphql
  lib/resolvers.ts
  lib/schema.ts
  lib/type-defs.graphqls
  lib/user.graphqls
  lib/viewer.graphql
  package.json
  pages/_app.tsx
  pages/index.tsx
  pages/ingresar.tsx
  test/index.test.tsx
  utils/checkAuth.ts
  utils/constants.ts
  utils/cookies.ts
  yarn.lock
Due: eslint --cache --fix, prettier --write

update time expiration of auth cookie
  components/Login/index.tsx
  utils/cookies.ts
Due: eslint --cache --fix, prettier --write

add credentials option on httpLink
  lib/apollo/index.ts
Due: eslint --cache --fix, prettier --write

Remove credentials property
  lib/apollo/index.ts
Due: eslint --cache --fix, prettier --write

remove process import
  lib/apollo/index.ts
  package.json
  yarn.lock
Due: eslint --cache --fix, prettier --write

update alert component to not purge tailwind classes
  components/ui/Alert/index.tsx
Due: eslint --cache --fix, prettier --write

Set up Storybook
  .storybook/main.js
  .storybook/preview.js
  README.md
  components/stories/alert.stories.tsx
  package.json
  styles/globals.css
Due: eslint --cache --fix, prettier --write

remove codeship badge from readme
  README.md
Due: prettier --write

integration signup and update checkAuth function
  components/Login/index.tsx
  components/Signup/graphql/signup.ts
  components/Signup/index.tsx
  pages/index.tsx
  pages/ingresar.tsx
  pages/registro.tsx
  utils/checkAuth.ts
Due: eslint --cache --fix, prettier --write

update dependencies and move Alert.stories.tsx file
  components/ui/Alert/Alert.stories.tsx
  package.json
  test/index.test.tsx
  yarn.lock
Due: eslint --cache --fix, prettier --write

add button component to ui
  components/Login/index.tsx
  components/Signup/index.tsx
  components/ui/Button/index.tsx
  components/ui/Button/interfaces.ts
Due: eslint --cache --fix, prettier --write

add type to children prop on button component
  components/ui/Button/interfaces.ts
Due: eslint --cache --fix, prettier --write

add loading property to mutation to avoid multiple requests
  components/Login/index.tsx
  components/Signup/index.tsx
Due: eslint --cache --fix, prettier --write
